.Pagination {
  display: flex;
  grid-row: 4/5;
  justify-content: flex-start;
  margin-left: 2rem;
}

.Pagination button {
  cursor: pointer;
  height: 1rem;
  margin: 0 2px;
  padding: 0.5rem;
  background-color: rgb(226, 223, 223);
  font-size: 1rem;
  border: none;
}

.Pagination span {
  background-color: rgb(226, 223, 223);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.PaginationButton:active,
.PaginationButton:hover {
  background-color: aqua;
}

@media (max-width: 750px) {
  .Pagination {
    display: flex;
    grid-row: 4/5;
    grid-column: 1/2;
    justify-content: center;
    padding: 2rem;
  }

  .Pagination button {
    height: 1.5rem;
    padding: 1rem;
    font-size: 1rem;
  }
}
