.Main {
  display: grid;
  grid-template-columns: minmax(25rem, 75vw) 20vw;
  grid-template-rows: repeat(3, minmax(27rem, min-content)) min-content;
}

@media (max-width: 750px) {
  .Main {
    grid-template-rows: repeat(3, minmax(27rem, min-content)) min-content;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 750px) {
  .Main {
    grid-template-rows: repeat(3, minmax(27rem, min-content)) min-content;
    grid-template-columns: 1fr;
  }
}
