.Image {
  grid-row: 2/3;
  grid-column: 1/5;
}

.Image img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .Image {
    grid-row: 3/4;
    grid-column: 1/5;
  }
}

@media (max-width: 450px) {
  .Image img {
    width: 200px;
    height: 300px;
    object-fit: scale-down;
  }
}
