.Article {
  grid-column: 1/2;
  margin-left: 2rem;
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.Article img {
  border: 6px ridge #f5f0f0;
}

.Content {
  height: 100%;
  text-align: justify;
  padding-left: 2rem;
  font-size: 1.2rem;
}

.Content time {
  color: rgb(99, 168, 233);
}

.Content p {
  width: 35rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.Content button {
  display: block;
  margin-top: 1.5rem;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  text-shadow: 1px 1px black;
  width: 10rem;
  border-radius: 3px;
  border: none;
  padding: 0.5rem;
  background-color: rgb(44, 131, 176);
  color: white;
  cursor: pointer;
}

.Content hr {
  margin-top: 1rem;
  margin-right: 5rem;
  width: 30rem;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(70, 67, 67, 0),
    rgba(204, 192, 192, 0.6),
    rgba(56, 54, 54, 0)
  );
}
@media (max-width: 600px) {
  .Article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Content hr {
    display: none;
  }

  .Content {
    height: 100%;
    text-align: center;
    font-size: 1.2rem;
  }
  .Content button {
    display: block;
    margin: 1rem auto;
  }

  .Article img {
    border: 6px ridge #f5f0f0;
    max-width: 100%;
  }

  .Content p {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .Content h2 {
    text-align: center;
    font: size 1rem;
    padding: 1rem;
  }
  .Content time {
    margin: 0 auto;
  }
}
