.Footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content;
  grid-gap: 2rem;

  justify-items: center;
  background-color: black;
  color: grey;
  font-size: 1.2rem;
  padding: 2rem 2rem 4.5rem 2rem;
  margin-top: 2rem;
}

.Footer h3 {
  color: white;
  font-size: 2.5rem;
}

.AboutFooter p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.ImagesFooter {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: min-content repeat(3, 1fr);
}

.ImagesFooter h3 {
  grid-column: 1/4;
  margin-bottom: 1rem;
}
.ImagesFooter span {
  text-transform: uppercase;
}

.SocialMedia {
  display: inline-block;
  padding-top: 1.5rem;
}

.ContactFooter address {
  font-style: normal;
  margin-top: 1rem;
}
.paragraph {
  color: rgb(195, 199, 199);
}

@media (max-width: 800px) {
  .Footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }

  .AboutFooter p {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .ImagesFooter {
    margin: 0 auto;
  }
}
