.SearchBar {
  justify-self: end;
  padding-top: 1rem;
}

.SearchBar input {
  border-radius: 3rem;
  margin-right: 1.5rem;
  display: block;
  height: 1.5rem;
  border: none;
  outline: none;
  text-align: center;
  width: 12rem;
}

.SearchBar form {
  display: flex;
  position: relative;
}

.SearchBar button {
  border-radius: 3rem;
  position: absolute;
  border: none;
  cursor: pointer;
  background: transparent;
  outline: none;
}

.SearchIcon {
  object-fit: cover;
  /* border-right: 2px solid;
} */
  background-color: white;
  border-radius: 70%;
}

@media (max-width: 1000px) {
  .SearchBar {
    justify-self: end;
    display: inline-block;
    grid-column: 2/3;
  }
  .SearchBar input {
    width: 20rem;
    height: 2rem;
    display: inline-block;
  }
  .SearchIcon {
    display: none;
    width: 3rem;
    height: 4rem;
    margin-top: 0.3rem;
  }
}
